@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.rohit_img_1 {
  height: 400px;
  width: 350px;
  max-width: 400px;
  min-width: 320px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .rohit_img_1{
    transform: scale(.7);
    margin-right: 50px;
    margin-top: 30px;
  }

  .introduction{
    transform: scale(.8);
    margin-left: -10px;
    margin-top: 30px;
  }

  .about_me{
    font-size: 1.3rem;
    font-weight: 400;
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 1050px) {
  .rohit_img_1{
    transform: scale(.675);
    margin-right: 50px;
  }

  .introduction{
    transform: scale(.765);
    margin-left: -10px;
  }

  .about_me{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 25px;
  }
}

@media screen and (max-width: 850px){
  .landing_page{
    flex-direction: column;
  }
  .introduction{
    transform: scale(1);
    margin-left: -10px;
  }
  .rohit_img_1{
    transform: scale(.8);
    margin-left: 60px;
  }

  .about_me{
    font-size: 1rem;
    font-weight: 400;
    padding: 20px;
  }
}

@media screen and (max-width: 650px){
  .introduction{
    text-align: center;
    margin-left: 10px;
    margin-bottom: 12px;
  }

  .rohit_profile_img{
    transform:scale(1.35);
  }

  .rohit_name{
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .rohit_img_1{
    transform: scale(.5);
    margin-left: 100px;
  }

  .about_me{
    width: 85%;
    line-height: 1.2;
    text-align: justify;
  }

}

.rohit_img_1::before {
  top: 20%;
  left: -30%;
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background-color: rgb(255, 129, 129);
}

.rohit_img_1::after {
  bottom: -20%;
  right: -30%;
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background-color: rgb(255, 255, 109);
}

.rohit_img_1 img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.rohit_img_1 img.github_logo,
.rohit_img_1 img.linkedin_logo,
.rohit_img_1 img.twitter_logo,
.rohit_img_1 img.codechef_logo,
.rohit_img_1 img.codeforces_logo,
.rohit_img_1 img.leetcode_logo
{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 20%; 
    animation: shake 4s;
    animation-iteration-count: infinite; 
}

.rohit_img_1 img.github_logo{
    top: -45px;
    background-color: orange;
    animation-delay: .2s;
}

.rohit_img_1 img.linkedin_logo{
    top: 10px;
    left: -130px;
    background-color: pink;
}

.rohit_img_1 img.twitter_logo{
    top: 130px;
    left: -200px;
    background-color: #f46b45;
    animation-delay: .2s;
}

.rohit_img_1 img.codeforces_logo{
    top: -45px;
    left: 144px;
    background-color: #f46b45;
}

.rohit_img_1 img.codechef_logo{
    top: 10px;
    left: 275px;
    background-color: #f46b45;
    animation-delay: .2s;
}

.rohit_img_1 img.leetcode_logo{
    top: 264px;
    left: -194px;
    background-color: #3a3230;
    animation-delay: .2s;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.rohit_profile_img {
  height: 120px;
  width: 100%;
}

.rohit_profile_img img {
    width: 120px;
  background-color: grey;
  border-radius: 50%;
}

.main_headline {
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  background: #FF4E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rohit_name {
    font-size: 2.5rem;
    font-family: 'Press Start 2P', cursive;
    background: #f46b45;
    background: linear-gradient(to right, #eea849, #f46b45);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.card {
  backdrop-filter: blur(2px) saturate(137%);
  -webkit-backdrop-filter: blur(2px) saturate(137%);
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 12px;
  border: 0px solid rgba(209, 213, 219, 0.3);
}
