@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    width: 100%;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}



